<h1>{{ error }}</h1>
<mat-card *ngFor="let todo of todos" (click)="openDetailTodo(todo, todo.id)">
    <mat-card-content>
        <h3> {{todo.title}}</h3>
    </mat-card-content>
    <mat-card-content>
        {{todo.description}}
    </mat-card-content>
    <mat-card-content>
        {{todo.priority}}
    </mat-card-content>
    <mat-card-content *ngIf="todo.subtasks?.length">
        <h4>Subtasks:</h4>
        <ul>
            <li *ngFor="let subtask of todo.subtasks">{{ subtask.title }}</li>
        </ul>
    </mat-card-content>
</mat-card>