.todo-contain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.contain {
    width: 200px;
    padding-top: 26px;
    div {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

.allTodoContain {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

mat-card {
    width: 190px;
    margin-bottom: 20px;
    &:hover{
        cursor: pointer;
    }
}

